.page-title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
}

.form-container {
  width: 400px;
  margin: auto;
}

.ui.teal.button:focus, .ui.teal.buttons {
  background-color: #00b5ad;
}

.description-cutted {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}